/* the table id is customers */
#customers {
  font-family: "Trebuchet M5", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers th, #customers td {
  border: 1px solid #dddddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #dddddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: White;
}